[package]
name = "moor-model-checker"
version = "0.9.0-alpha"
authors.workspace = true
categories.workspace = true
edition.workspace = true
keywords.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
rust-version.workspace = true
description = "Load testing and transaction model checking"

[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(coverage,coverage_nightly)'] }

[[bin]]
name = "moor-model-checker"
path = "src/tx-list-append.rs"

[[bin]]
name = "load-test"
path = "src/verb-dispatch-load-test.rs"

[dependencies]
# Internal Dependencies
moor-common = { path = "../../common" }
moor-var = { path = "../../var" }
rpc-async-client = { path = "../../rpc/rpc-async-client" }
rpc-common = { path = "../../rpc/rpc-common" }

# Command Line & Configuration
clap.workspace = true
clap_derive.workspace = true

# Serialization & Data Formats
csv.workspace = true

# Networking & Communication
tmq.workspace = true

# Error Handling & Logging
color-eyre.workspace = true
eyre.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true
uuid.workspace = true

## Asynchronous transaction processing & networking
futures.workspace = true
tokio.workspace = true

edn-format.workspace = true
rand.workspace = true
