# This is a "bacon" setup for the project which is used for development.
# Bacon is a tool for cargo which watches for local file changes and runs commands when they occur.
# See: https://dystroy.org/bacon/
# To install bacon, run `cargo install bacon`
# To run:
# `bacon daemon`, `bacon telnet`, and `bacon web` respectively.

default_job = "daemon"

[jobs.daemon]
command = [
    "cargo",
    "run",
    "--release",
    "-p",
    "moor-daemon",
    "--",
    "./moor-data",
    "--db",
    "development.db",
    "--import",
    "JHCore-DEV-2.db",
    "--export",
    "development-export",
    "--export-format",
    "objdef",
    "--checkpoint-interval-seconds",
    "360",
    "--use-boolean-returns",
    "false",
    "--custom-errors",
    "true",
]
allow_warnings = true
need_stdout = true

[jobs.daemon-debug]
command = [
    "cargo",
    "run",
    "-p",
    "moor-daemon",
    "--",
    "./moor-data",
    "--db",
    "development.db",
    "--import",
    "cowbell/src",
    "--import-format",
    "objdef",
    "--export",
    "development-export",
    "--export-format",
    "objdef",
    "--checkpoint-interval-seconds",
    "360",
    "--use-boolean-returns",
    "true",
    "--custom-errors",
    "true",
]
allow_warnings = true
need_stdout = true

[jobs.telnet]
command = ["cargo", "run", "-p", "moor-telnet-host"]
allow_warnings = true
need_stdout = true

[jobs.web]
command = [
    "cargo",
    "run",
    "-p",
    "moor-web-host",
    "--",
    "--listen-address",
    "0.0.0.0:8080",
    "--watch-changes",
]
allow_warnings = true

[jobs.test]
command = [
    "cargo",
    "test",
    "--color",
    "always",
    "--",
    "--color",
    "always", # see https://github.com/Canop/bacon/issues/124
]
need_stdout = true
