[workspace]
resolver = "2"

members = [
    "crates/values",
    "crates/compiler",
    "crates/kernel",
    "crates/relbox",
    "crates/db-wildtiger",
    "crates/db",
    "crates/rpc-common",
    "crates/rpc-sync-client",
    "crates/rpc-async-client",
    "crates/daemon",
    "crates/telnet-host",
    "crates/web-host",
    "crates/console-host",
    "crates/db-relbox",
]

[workspace.package]
edition = "2021"
authors = [
    "Ryan Daum <ryan.daum@gmail.com>",
    "Norman Nunley <nnunley@gmail.com>",
]
repository = "https://github.com/rdaum/moor.git"
license = "GPL-3"
rust-version = "1.78.0"

[workspace.dependencies]
## Command line arguments parsing.
clap = "4.5"
clap_derive = "4.5"

## HTTP/websockets front-end
axum = { version = "0.7", features = ["ws"] }
axum-extra = "0.9"
serde = { version = "1.0", features = ["derive"] }
serde_derive = "1.0"
serde_json = "1.0"
tower-http = { version = "0.5.2", features = [
    "add-extension",
    "auth",
    "compression-full",
    "trace",
] }

## Asynchronous transaction processing & networking
futures = "0.3"
futures-util = { version = "0.3", features = ["sink", "std"] }
tokio = { version = "1.37", features = ["full"] }
tokio-test = "0.4"
tokio-util = { version = "0.7", features = ["full"] }

# Used for RPC daemon/client
tmq = "0.4.0"
zmq = "0.10.0"

## Logging & tracing
tracing = "0.1"
tracing-subscriber = "0.3"
tracing-test = "0.2"

# General usefulness
arc-swap = "1.7"
atomic-wait = "1.1"
binary-layout = "4.0"
bindgen = "0.69"
bytes = "1.6"
chrono = "0.4"
cmake = "0.1"
criterion = { version = "0.5", features = ["async_tokio"] }
crossbeam-channel = "0.5"
dashmap = "5.5"
decorum = "0.3"                                             # For ordering & comparing our floats
enum-primitive-derive = "0.3"
fast-counter = "1.0"
human_bytes = "0.4"
inventory = "0.3.15"
itertools = "0.13.0"
lazy_static = "1.4.0"
oneshot = { version = "0.1", default-features = false, features = ["std"] }
num-traits = "0.2.19"
owo-colors = "3.5"
rustyline = "14.0.0"
strum = { version = "0.26.2", features = ["derive"] }
text-diff = "0.4.0"
uuid = { version = "1.8.0", features = ["v4"] }
yoke = "0.7.3"
yoke-derive = "0.7.3"

## Required for MOO builtins.
chrono-tz = "0.9.0"
crypt-sys = "0.1.0"
iana-time-zone = "0.1.60"
md5 = "0.7"                                            # For MOO's "string_hash"
onig = { version = "6.4.0", default-features = false }
rand = "0.8"

## Compiler grammar/parser
pest = "2.7.10"
pest_derive = "2.7.10"

## Error declaration/ handling
color-eyre = "0.6"
eyre = "0.6"
thiserror = "1.0"

## For macro-ing
paste = "1.0"

# For the DB & values layer.
crossbeam-queue = "0.3"
bincode = "2.0.0-rc.3"   # For serializing/deserializing values
hi_sparse_bitset = "0.6" # For buffer pool allocator in the DB
im = "15.1"              # Immutable data structures
io-uring = "0.6"
libc = "0.2"
okaywal = "0.3"
text_io = "0.1"          # Used for reading text dumps.

# Dev dependencies
tempfile = "3.10"

# testing
escargot = "0.5"
pretty_assertions = "1.4"
test-case = "3.3"
test_each_file = "0.3"
unindent = "0.2"

# Auth/Auth
ed25519-dalek = { version = "2.1", features = [
    "zeroize",
    "pkcs8",
    "rand_core",
] }
pem = "3.0"
rusty_paseto = { version = "0.7" }
signal-hook = "0.3"
