[workspace]
resolver = "2"

members = [
  "crates/values",
  "crates/compiler",
  "crates/kernel",
  "crates/rdb",
  "crates/db",
  "crates/rpc-common",
  "crates/rpc-sync-client",
  "crates/rpc-async-client",
  "crates/daemon",
  "crates/telnet-host",
  "crates/web-host",
  "crates/console-host",
]

[workspace.package]
edition = "2021"
authors = ["Ryan Daum <ryan.daum@gmail.com>", "Norman Nunley <nnunley@gmail.com>"]
repository = "https://github.com/rdaum/moor.git"
license = "GPL-3"
rust-version = "1.75.0"

[workspace.dependencies]
## Command line arguments parsing.
clap = "4.4.18"
clap_derive = "4.4.7"

## HTTP/websockets front-end
axum = { version = "0.7.4", features = ["ws"] }
axum-extra = "0.9.2"
serde = { version = "1.0.196", features = ["derive"] }
serde_derive = "1.0.196"
serde_json = "1.0.113"
tower-http = { version = "0.5.1", features = ["add-extension", "auth", "compression-full", "trace"] }

## Asynchronous transaction processing & networking
futures = "0.3.30"
futures-util = { version = "0.3.30", features = ["sink", "std"] }
tokio = { version = "1.36.0", features = ["full"] }
tokio-test = "0.4.3"
tokio-util = { version = "0.7.10",  features = ["full"] }

# Used for RPC daemon/client
tmq = "0.4.0"
zmq = "0.10.0"

## Logging & tracing
tracing = "0.1.40"
tracing-subscriber = "0.3.18"
tracing-test = "0.2.4"

# General usefullness
arc-swap = "1.6.0"
atomic-wait = "1.1.0"
binary-layout = "4.0.0"
bytes = "1.5.0"
chrono = "0.4.31"
owo-colors = "3.5.0"
criterion = { version = "0.5.1", features = ["async_tokio"] }
dashmap = "5.5.3"
decorum = "0.3.1"  # For ordering & comparing our floats
enum-primitive-derive = "0.3.0"
fast-counter = "1.0.0"
human_bytes = "0.4.3"
inventory = "0.3.15"
itertools = "0.12.1"
kanal = "0.1.0-pre8"
lazy_static = "1.4.0"
num-traits = "0.2.17"
rustyline = "13.0.0"
strum = { version = "0.26.1", features = ["derive"] }
text-diff = "0.4.0"
uuid = { version = "1.7.0", features = ["v4"] }
yoke = "0.7.3"
yoke-derive = "0.7.3"

## Required for MOO builtins.
chrono-tz = "0.8.5"
iana-time-zone = "0.1.60"
md5 = "0.7.0" # For MOO's "string_hash"
onig = { version = "6.4.0", default-features = false  }
pwhash = "1.0.0" # For MOO's hokey "crypt" function, which is unix's crypt(3) basically
rand = "0.8.5"

## Compiler grammar/parser
pest = "2.7.7"
pest_derive = "2.7.7"

## Error declaration/ handling
color-eyre = "0.6.2"
eyre = "0.6.12"
thiserror = "1.0.57"

## For macro-ing
paste = "1.0.14"

# For the DB & values layer.
bincode = "2.0.0-rc.3" # For serializing/deserializing values
hi_sparse_bitset = "0.6.0" # For buffer pool allocator in the DB
im = "15.1.0" # Immutable data structures
io-uring = "0.6.3"
libc = "0.2.153"
okaywal = "0.3.1"
text_io = "0.1.12" # Used for reading text dumps.

# Dev dependencies
tempfile = "3.10.0"

# testing
pretty_assertions = "1.4.0"
test-case = "3.3.1"
unindent = "0.2.3"

# Auth/Auth
ed25519-dalek = { version = "2.1.1", features = ["zeroize", "pkcs8", "rand_core"] }
pem = "3.0.3"
rusty_paseto = { version = "0.6.1" }
