[package]
name = "moor-kernel"
version = "0.1.0"
description = "The actual implementation of most of the moor system; virtual machine, scheduler, and builtins."
edition.workspace = true
license.workspace = true
repository.workspace = true
authors.workspace = true
rust-version.workspace = true
categories.workspace = true
keywords.workspace = true
readme.workspace = true

[dev-dependencies]
moor-db-relbox = { path = "../db-relbox" }
wtdb = { path = "../db-wildtiger" }

criterion.workspace = true
eyre.workspace = true
inventory.workspace = true
pretty_assertions.workspace = true
tempfile.workspace = true
test-case.workspace = true
test_each_file.workspace = true
text-diff.workspace = true
tracing-test.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true
unindent.workspace = true

[[test]]
name = "regression-suite"
path = "testsuite/regression_suite.rs"

[[test]]
name = "moot-suite"
path = "testsuite/moot_suite.rs"

[[bench]]
name = "vm_benches"
harness = false

[dependencies]

## Own
moor-compiler = { path = "../compiler" }
moor-db = { path = "../db" }
moor-values = { path = "../values" }

## General usefulness
chrono.workspace = true
dashmap.workspace = true
decorum.workspace = true
kanal.workspace = true
lazy_static.workspace = true
libc.workspace = true
strum.workspace = true
text_io.workspace = true
uuid.workspace = true

## Required for MOO builtins.
chrono-tz.workspace = true
crypt-sys.workspace = true
iana-time-zone.workspace = true
md5.workspace = true
onig.workspace = true
rand.workspace = true

## Error declaration/ handling
thiserror.workspace = true

## For macro-ing
paste.workspace = true

## Logging & tracing
tracing.workspace = true

# For the DB layer.
bincode.workspace = true
