[package]
name = "moor-telnet-host"
version = "1.0.0-rc1"
authors.workspace = true
categories.workspace = true
edition.workspace = true
keywords.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
rust-version.workspace = true
description = "A server which presents a classic LambdaMOO-style line-based TCP interface for interacting with a mooR daemon."

[package.metadata.deb]
depends = "$auto, systemd"
extended-description = "Process for listening for telnet sessions and forwarding them to a mooR daemon."
section = "net"
license-file = ["../../LICENSE", "0"]
priority = "optional"
assets = [
    ["target/release/moor-telnet-host", "/usr/bin/moor-telnet-host", "755"],
    [
        "debian/moor-telnet-host.service",
        "/lib/systemd/system/moor-telnet-host.service",
        "644",
    ],
    ["debian/telnet-host.yaml", "/etc/moor/telnet-host.yaml", "644"],
]
maintainer-scripts = "debian/scripts"
systemd-units = { enable = false }

[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(coverage,coverage_nightly)'] }

[dependencies]
# Internal Dependencies
moor-common = { path = "../common" }
moor-moot = { path = "../testing/moot", features = ["colors"] }
moor-schema = { path = "../schema" }
moor-var = { path = "../var" }
rpc-async-client = { path = "../rpc/rpc-async-client" }
rpc-common = { path = "../rpc/rpc-common" }

# Command Line & Configuration
clap.workspace = true
clap_derive.workspace = true
figment.workspace = true

# Serialization & Data Formats
planus.workspace = true
serde.workspace = true

# Networking & Communication
bytes.workspace = true
hickory-resolver.workspace = true
rustls-pemfile.workspace = true
socket2.workspace = true
tmq.workspace = true
tokio-rustls.workspace = true

# Async Runtime & Concurrency
futures-util.workspace = true
tokio.workspace = true
tokio-util.workspace = true

# Error Handling & Logging
color-eyre.workspace = true
eyre.workspace = true
tracing.workspace = true

# Terminal & UI
colored.workspace = true
jotdown.workspace = true
regex.workspace = true
tabled.workspace = true

# Utilities & Helpers
once_cell.workspace = true
uuid.workspace = true

# Testing
[dev-dependencies]
escargot.workspace = true
serial_test.workspace = true
tempfile.workspace = true
