/* bring in roboto mono font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/* and proportional */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.main {
    font-family: 'Roboto Mono', monospace;
}

.login_window {
    width: 800px;

    /* put me right in the middle of the screen */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #444;
    color: white;
    border-radius: 10px;
    padding: 1.0em;
    margin: 1.0em;
    /* proportional font */
    font-family: 'Roboto', sans-serif;

    resize: both;
    overflow: hidden;
    border: 1px solid;
    display: inline-flex;
}

.welcome_box {
    background-color: #333;
    color: white;
    border-radius: 10px;
    padding: 1.0em;
    margin: 1.0em;
    overflow: auto;
    font-family: 'Roboto', sans-serif;
}

.login_prompt {
    background-color: #333;
    color: white;
    border-radius: 10px;
    padding: 1.0em;
    margin: 1.0em;
    font-family: 'Roboto', sans-serif;
}

/* container div for two panes, narrative (majority) and right-panel */
.columns_grid {
    width: 100%;
    height: 100%;

    display: inline-flex;

    /* expand to fill the space */
    flex-grow: 1;
}

/* this one is the main container for the narrative */
.narrative {
    background-color: #333;
    color: white;
    border-radius: 10px;
    padding: 1.0em;
    margin: 1.0em 0.5em 1.0em 1.0em;

    font-family: 'Roboto', sans-serif;

    overflow-y: scroll;

    min-width: 50%;

    height: calc(100% - 4em);
    resize: horizontal;

    width: 100%;
}

/* this one should be on the right of it */
.right_dock {
    background-color: #333;
    color: white;
    border-radius: 10px;
    padding: 1.0em;
    margin: 1.0em 0.5em 1.0em 1.0em;

    font-family: 'Roboto', sans-serif;

    overflow-y: scroll;

    /* should expand to fill the space */
    flex-grow: 1;
    min-width: 20em;

    /* starts out hidden and will only display when we put content into it */
    display: none;
}


/* vertically stacked divs that live in the right_dock */
.right_dock_panel {
    min-height: min-content;
    flex-grow: 1;
    margin: 0.5em;
    padding: 0.5em;
    background-color: #444;
    color: white;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;

    overflow-y: auto;

    resize: vertical;
}

/* title for each panel entry */
.right_dock_panel_title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.0em;
    font-weight: bold;
    margin: 0.5em;

    /* vertical-center the text inside */
    vertical-align: top;

    /* should take up the full width */
    display: inline-flex;
    width: 90%;

    /* dark on light background, rounded corners */
    background-color: #aaa;
    color: black;
    border-radius: 10px;
    padding: 0.5em;
}

/* there's an X button, just lightly pad it out mildly and darken up the background */
.right_dock_panel_close {
    background-color: #666;
    color: white;
    border-radius: 5px;
    padding: 0.2em;
    margin: 0.2em 0.8em 0.2em 0.2em;
    vertical-align: center;

    /* font is smaller */
    font-size: 0.8em;
}

.output_window {
    background-color: #333;
    color: white;
    overflow: auto;
    word-wrap: break-word;
    margin: 0.5em;
    font-family: 'Roboto Mono', monospace;

    /* i should centre relative to parent ... */
    align-self: center;

    /* round out the top corners */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.text_narrative {
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
    padding: 0.0em;
    margin: 0;
}

.system_message_narrative {
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
    padding: 0.0em;
    margin: 0;
    /* emp with a little blue-osity */
    color: #4169E1;
}

.traceback_narrative {
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
    padding: 0.0em;
    margin: 0;
    /* emp with a little redness */
    color: #cc0000;
}

.input_area {
    background-color: #555;
    color: white;
    font-family: 'Roboto Mono', monospace;
    padding: 0.5em;
    margin: 0;
    width: 100%;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    resize: vertical;
    overflow: auto;
}

.message_board {
    background-color: #555;
    color: white;
    border-radius: 10px;
    padding: 1.0em;
    margin: 1.0em;
    /* proportional font */
    font-family: 'Roboto', sans-serif;

    /* pinned to top of page, and centred horizontally and sized to the width of its internal text content
     */
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
}

.editor_container {
    background-color: #555;
    color: white;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

.verb_compile_errors {
    /* proportional font */
    font-family: 'Roboto', sans-serif;
    width: 100%;
    /* word wrap on horizontal overflow */

    word-break-wrap: break-word;
    overflow: auto;;
    word-break: normal;
    white-space: pre-wrap;

    /* scroll bars if needed */
    scrollbar-width: thin;
    scrollbar-color: #444 #555;
}

.presentation_window {
    font-family: 'Roboto', sans-serif;
}

.presentation_window_content {
    font-family: 'Roboto', sans-serif;
}

.input_echo {
    font-family: 'Roboto Mono', monospace;
    color: #00ff00;
}