/* bring in roboto mono font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/* and proportional */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.main {
    font-family: 'Roboto Mono', monospace;
}

.login_window {
    width: 800px;

    /* put me right in the middle of the screen */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #444;
    color: white;
    border-radius: 10px;
    padding: 1.0em;
    margin: 1.0em;
    /* proportional font */
    font-family: 'Roboto', sans-serif;

    resize: both;
    overflow: hidden;
    border: 1px solid;
    display: inline-flex;
}

.welcome_box {
    background-color: #333;
    color: white;
    border-radius: 10px;
    padding: 1.0em;
    margin: 1.0em;
    overflow: auto;
    font-family: 'Roboto', sans-serif;
}

.login_prompt {
    background-color: #333;
    color: white;
    border-radius: 10px;
    padding: 1.0em;
    margin: 1.0em;
    font-family: 'Roboto', sans-serif;
}

.narrative {
    background-color: #333;
    color: white;
    border-radius: 10px;
    padding: 1.0em;
    margin: 1.0em;

    font-family: 'Roboto', sans-serif;

    overflow-y: scroll;

    height: calc(100% - 4em);

    resize: both;
}

.output_window {
    background-color: #333;
    color: white;
    overflow: auto;
    word-wrap: break-word;
    margin: 0.5em;
    font-family: 'Roboto Mono', monospace;

    /* i should centre relative to parent ... */
    align-self: center;

    /* round out the top corners */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.text_narrative {
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
    padding: 0.0em;
    margin: 0;
}

.system_message_narrative {
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
    padding: 0.0em;
    margin: 0;
    /* emp with a little redness */
    color: #ff0000;
}

.input_area {
    background-color: #555;
    color: white;
    font-family: 'Roboto Mono', monospace;
    padding: 0.5em;
    margin: 0;
    width: 100%;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    resize: vertical;
    overflow: auto;
}

.message_board {
    background-color: #555;
    color: white;
    border-radius: 10px;
    padding: 1.0em;
    margin: 1.0em;
    /* proportional font */
    font-family: 'Roboto', sans-serif;

    /* pinned to top of page, and centred horizontally and sized to the width of its internal text content
     */
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
}

.editor_container {
    background-color: #555;
    color: white;
    border-radius: 10px;
    /* proportional font */
    font-family: 'Roboto', sans-serif;
}

.verb_compile_errors {
    /* proportional font */
    font-family: 'Roboto', sans-serif;
    width: 100%;
    /* word wrap on horizontal overflow */

    word-break-wrap: break-word;
    overflow: auto;;
    word-break: normal;
    white-space: pre-wrap;

    /* scroll bars if needed */
    scrollbar-width: thin;
    scrollbar-color: #444 #555;
}