.output_window {
    width: 100%;
    overflow: auto;
    word-wrap: break-word;
}

.text_narrative {
    font-family: monospace;
    font-size: 1em;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
    padding: 0.0em;
    margin: 0;
}
