[package]
name = "moor-web-host"
version = "1.0.0-beta1"
authors.workspace = true
categories.workspace = true
edition.workspace = true
keywords.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
rust-version.workspace = true
description = "WebSocket and REST API server for the mooR system"

[package.metadata.deb]
depends = "$auto, systemd"
extended-description = "WebSocket and REST API server for the mooR system."
section = "net"
license-file = ["../../LICENSE", "0"]
priority = "optional"
assets = [
    ["target/release/moor-web-host", "/usr/bin/moor-web-host", "755"],
    [
        "debian/moor-web-host.service",
        "/lib/systemd/system/moor-web-host.service",
        "644",
    ],
    ["debian/web-host.yaml", "/etc/moor/web-host.yaml", "644"],
]
maintainer-scripts = "debian/scripts"
systemd-units = { enable = false }

[dependencies]
# Internal Dependencies
moor-common = { path = "../common" }
moor-compiler = { path = "../compiler" }
moor-schema = { path = "../schema" }
moor-var = { path = "../var" }
rpc-async-client = { path = "../rpc/rpc-async-client" }
rpc-common = { path = "../rpc/rpc-common" }

# Command Line & Configuration
clap.workspace = true
clap_derive.workspace = true
figment.workspace = true

# Serialization & Data Formats
serde.workspace = true
serde_derive.workspace = true
serde_json.workspace = true

# Authentication
oauth2.workspace = true

# Networking & Communication
axum.workspace = true
hickory-resolver.workspace = true
reqwest = { workspace = true, features = ["json"] }
tmq.workspace = true

# Async Runtime & Concurrency
futures-util.workspace = true
tokio.workspace = true

# Error Handling & Logging
color-eyre.workspace = true
eyre.workspace = true
thiserror.workspace = true
tracing.workspace = true

# Utilities & Helpers
once_cell.workspace = true
planus.workspace = true
url = "2.5"
urlencoding = "2.1"
uuid.workspace = true
