[package]
name = "moor-web-host"
version = "0.9.0-alpha"
authors.workspace = true
categories.workspace = true
edition.workspace = true
keywords.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
rust-version.workspace = true
description = "A RESTful web front end for interacting with the mooR system"

[package.metadata.deb]
depends = "$auto, systemd, openssl"
extended-description = "Process for listening for HTTP requests and forwarding them to a mooR daemon."
section = "net"
license-file = ["../../LICENSE", "0"]
priority = "optional"
assets = [
    ["target/release/moor-web-host", "/usr/bin/moor-web-host", "755"],
    ["debian/moor-web-host.service", "/lib/systemd/system/moor-web-host.service", "644"],
    ["debian/web-host.yaml", "/etc/moor/web-host.yaml", "644"],
    ["src/client/*", "/var/lib/moor-web-host/", "644"],
]
maintainer-scripts = "debian/scripts"
systemd-units = { enable = false }

[dependencies]
moor-common = { path = "../common" }
moor-var = { path = "../var" }
rpc-async-client = { path = "../rpc/rpc-async-client" }
rpc-common = { path = "../rpc/rpc-common" }

## Command line arguments parsing.
clap.workspace = true
clap_derive.workspace = true
figment.workspace = true

# General.
color-eyre.workspace = true
eyre.workspace = true
futures-util.workspace = true
serde.workspace = true
thiserror.workspace = true

## Asynchronous transaction processing & networking
tokio.workspace = true

## Logging & tracing
tracing.workspace = true
tracing-subscriber.workspace = true

## ZMQ / RPC
tmq.workspace = true
uuid.workspace = true

# HTTP/websockets layer
axum.workspace = true
serde_derive.workspace = true
serde_json.workspace = true
tower-http.workspace = true

#
rolldown = { git = "https://github.com/rolldown/rolldown" }

[build-dependencies]
rolldown = { git = "https://github.com/rolldown/rolldown" }
tokio = { workspace = true, features = ["rt", "macros", "sync", "rt-multi-thread"] }
