[package]
name = "moor-var"
version = "0.9.0-alpha"
authors.workspace = true
categories.workspace = true
edition.workspace = true
keywords.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
rust-version.workspace = true
description = "The set of primitive MOO value types across the system"

[dependencies]
binary-layout.workspace = true
bincode.workspace = true
byteview.workspace = true
lazy_static.workspace = true
num-traits.workspace = true
paste.workspace = true
serde.workspace = true
strum.workspace = true
thiserror.workspace = true
ustr.workspace = true
