[package]
name = "moor-var"
version = "0.9.0-alpha"
authors.workspace = true
categories.workspace = true
edition.workspace = true
keywords.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
rust-version.workspace = true
description = "The set of primitive MOO value types across the system"

# dev dependencies only for linux...
[target.'cfg(all(target_os = "linux"))'.dev-dependencies]
perf_event.workspace = true

[dev-dependencies]
moor-bench-utils = { path = "../testing/bench-utils" }
serde_json.workspace = true
shuttle.workspace = true

[target.'cfg(all(target_os = "linux"))']
[[bench]]
name = "var_benches"
harness = false

[dependencies]
# Serialization & Data Formats
serde.workspace = true

# Async Runtime & Concurrency
boxcar.workspace = true
papaya.workspace = true

# Collections & Data Structures
ahash.workspace = true
im.workspace = true

# Text Processing & Regex
unicase.workspace = true

# Error Handling
thiserror.workspace = true

# Utilities & Helpers
binary-layout.workspace = true
byteview.workspace = true
lazy_static.workspace = true
num-traits.workspace = true
once_cell.workspace = true
paste.workspace = true
rand.workspace = true
strum.workspace = true
zerocopy.workspace = true
