[package]
name = "moor-moot"
version = "0.9.0-alpha"
authors.workspace = true
categories.workspace = true
edition.workspace = true
keywords.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
rust-version.workspace = true
description = "Execute MOO interaction tests described in simple text files."

[dependencies]
eyre.workspace = true
pest.workspace = true
pest_derive.workspace = true
pretty_assertions.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true

moor-var = { path = "../../var" }
