[Unit]
AssertPathExists=/usr/bin/moor-daemon

[Service]
Environment="RUST_BACKTRACE=full"
Environment="XDG_CONFIG_HOME=/etc"
Environment="XDG_DATA_HOME=/var/lib"
ExecStart=/usr/bin/moor-daemon \
  --config-file /etc/moor/daemon-config.yaml \
  --events-listen ipc:///run/moor/events.sock \
  --rpc-listen ipc:///run/moor/rpc.sock \
  --workers-response-listen ipc:///run/moor/workers-response.sock \
  --workers-request-listen ipc:///run/moor/workers-request.sock \
  /var/spool/moor-daemon/moor.db
WorkingDirectory=/var/spool/moor-daemon
Restart=always
PrivateTmp=false
NoNewPrivileges=true
User=moor
Group=moor
RuntimeDirectory=moor
RuntimeDirectoryMode=0750

[Install]
WantedBy=default.target
