[package]
name = "moor-daemon"
version = "0.1.0"
description = "The actual moor binary that runs as an RPC-accessible daemon that various frontends can connect to."
edition.workspace = true
license.workspace = true
repository.workspace = true
authors.workspace = true
rust-version.workspace = true
categories.workspace = true
keywords.workspace = true
readme.workspace = true

[dependencies]
relbox = { path = "../relbox" }
moor-db = { path = "../db" }
moor-db-relbox = { path = "../db-relbox" }
moor-kernel = { path = "../kernel" }
moor-values = { path = "../values" }
rpc-common = { path = "../rpc-common" }
wtdb = { path = "../db-wildtiger" }

## Command line arguments parsing.
clap.workspace = true
clap_derive.workspace = true
strum.workspace = true

# General.
bincode.workspace = true
signal-hook.workspace = true
color-eyre.workspace = true
eyre.workspace = true
tempfile.workspace = true

## Logging & tracing
tracing-subscriber.workspace = true
tracing.workspace = true

## RPC daemon support
serde_json.workspace = true
uuid.workspace = true
zmq.workspace = true

# Auth/Auth
ed25519-dalek.workspace = true
pem.workspace = true
rand.workspace = true
rusty_paseto.workspace = true
