[package]
name = "moor-daemon"
version = "0.1.0"
authors.workspace = true
categories.workspace = true
edition.workspace = true
keywords.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
rust-version.workspace = true
description = "The actual moor binary that runs as an RPC-accessible daemon that various frontends can connect to."

[dependencies]
moor-db = { path = "../db" }
moor-kernel = { path = "../kernel" }
moor-values = { path = "../common" }
rpc-common = { path = "../rpc/rpc-common" }

## Command line arguments parsing.
clap.workspace = true
clap_derive.workspace = true

# General.
bincode.workspace = true
bytes.workspace = true
color-eyre.workspace = true
eyre.workspace = true
fjall.workspace = true
oneshot.workspace = true
semver.workspace = true
signal-hook.workspace = true
tempfile.workspace = true

## Logging & tracing
tracing.workspace = true
tracing-subscriber.workspace = true

## RPC daemon support
serde_json.workspace = true
uuid.workspace = true
zmq.workspace = true

# Auth/Auth
ed25519-dalek.workspace = true
pem.workspace = true
rand.workspace = true
rusty_paseto.workspace = true
