@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

/*"messages" class name should use a mono font, take up the full width of the screen, and have a height of 50vh.*/
.messages {
    font-family: 'Roboto Mono', monospace;
  width: 100%;
}

.inputArea {
    width: 100%;
}

.inputField {
    font-family: 'Roboto Mono', monospace;
    /* stretch to fill the width of the div, except for the submit button beside us */
    width: calc(100% - 100px);
}
.inputSubmitButton {
    font-family: 'Roboto Mono', monospace;
    width: 80px;
}