[Unit]
AssertPathExists=/usr/bin/moor-telnet-host

[Service]
Environment="RUST_BACKTRACE=full"
ExecStart=/usr/bin/moor-telnet-host --config-file /etc/moor/telnet-host.yaml
WorkingDirectory=/tmp
Restart=always
PrivateTmp=false
NoNewPrivileges=true
User=moor
Group=moor

[Install]
WantedBy=default.target
