name: Formatting Check

on: [ push, pull_request ]

jobs:
  style:
    runs-on: ubuntu-latest
    steps:
      - name: Use LF line endings
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - uses: actions/checkout@v3
        with:
          submodules: 'true'

      - name: Check formatting latest
        uses: ./

      - name: Check formatting specific version
        uses: ./
        with:
          dprint-version: 0.46.3
