name: Rust

on: [ push, pull_request ]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-Dwarnings"

jobs:
  build_default_linux:
    runs-on: ubuntu-latest
    steps:
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: cmake python3-dev swig
          version: 1.1
      - uses: actions/checkout@v4
        with:
          submodules: 'true'
      - name: Install Rust 1.86
        run: rustup update 1.86.0	  
      - name: Build
        run: cargo +1.86.0 build --verbose
      - name: Run tests
        run: cargo +1.86.0 test --verbose
  build_all_linux:
    runs-on: ubuntu-latest
    steps:
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: cmake python3-dev swig
          version: 1.1
      - uses: actions/checkout@v4
        with:
          submodules: 'true'
      - name: Install Rust 1.86
        run: rustup update 1.86.0	  
      - name: Build
        run: cargo +1.86.0 build --verbose --all-features --all-targets
      - name: Run tests
        run: cargo +1.86.0 test --verbose --all-features --all-targets

  build_default_macos:
    runs-on: macos-latest
    steps:
      - uses: tecolicom/actions-use-homebrew-tools@v1
        with:
          tools: cmake
      - uses: actions/checkout@v4
        with:
          submodules: 'true'
      - name: Install Rust 1.86
        run: rustup update 1.86.0	  
      - name: Build
        run: cargo +1.86.0 build --verbose --all-features --all-targets
      - name: Run tests
        run: cargo +1.86.0 test --verbose --all-features --all-targets

  clippy_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install clippy
        run: rustup +1.86.0 component add clippy
      - name: Run Clippy
        run: cargo +1.86.0 clippy --all-targets --all-features